.header_profile{
    background-color: #333333;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.header-end{
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}
.podrazdelenie{
    font-size: 32px;
}
.stick{
    width: 1px;
    height: 56px;
    background-color: #FF0909;
}
.avatar{
    width: 51px;
    height: 51px;
    background-color: #EFEFEF;
    border-radius: 50%;
}
.exit{
    width: 60px;
    height: 74px;
    background-color: #EC1C24;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.gov_menu{
    width: 100%;
    min-height: 1126px ;
    background-color: white;

}
.tasks{
    margin-right: 1%;
    margin-top: 1%;
    width: 49.5%;
    min-height: 508px;
    height: auto;


    padding-left: 48px;
    padding-top: 20px;
    padding-right: 48px;
    padding-bottom: 20px;


    background-color: #efefef;
    border: 1px solid #dadada;
    border-radius: 30px;
}
.tasks_title{
    font-size: 32px;
    font-weight: 500;

}
.tasks_row{
    display: flex;
    justify-content: space-between;


}
.tasks_col{
    width: 50%;
    font-weight: 500;
    font-size: 20px;
    color: #2b2b2b;
}
.tests{
    width: 100%;
    height: auto;

}
.test{
    width: 100%;
    min-height: 59px;
    height: auto;
    border:1px solid #E8E8E8;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    transition: .25s;



}
.test_go{
    max-width: 78px;
    width: 20%;
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    cursor: pointer;
    font-weight: 300;
    font-size: 37px;
    color: #ED1C24;
    border-radius: 10px;
}
.test_name{
    padding-left: 10px;
    display: flex;
    flex-direction: column;

}
.test_value{
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: #2B2B2B;
}
.test:hover{
    background-color: #E8E8E8;
    border:1px solid #E8E8E8;
}

.test_go:hover{
    background-color: #D64A4A;
    color: white;
}
.test_go:hover .test{
    background-color: #FF7878;

}

.test_title{
    font-weight: 500;
    font-size: 20px;
    color: #2B2B2B;
}
.test_subtitle{
    font-weight: 400;
    font-size: 15px;
    color: #929292;
}
.results{
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    width: 49.5%;
    min-height: 508px;
    height: auto;


    padding-left: 48px;
    padding-top: 20px;
    padding-right: 48px;
    padding-bottom: 20px;


    background-color: #efefef;
    border: 1px solid #dadada;
    border-radius: 30px;
}
.results_name{
    font-size: 32px;
    font-weight: 500;
}
.results_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.results_col{
    font-weight: 500;
    font-size: 20px;
    color: #2b2b2b;
}

.result_col{
    font-weight: 500;
    font-size: 20px;
    color: #2B2B2B;
}

.result_col_name{
    font-weight: 500;
    font-size: 20px;
    color: #2B2B2B;
}

.result_col_subtitle{
    font-weight: 400;
    font-size: 15px;
    color: #929292;
}

.result_col_data{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    color: #2B2B2B;
}

.result_col_answers{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    color: #2B2B2B;
    padding-left: 95px;
}

.result_col_questions{
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #2B2B2B;
}

.result{
    width: 100%;
    min-height: 59px;
    height: auto;
    border:1px solid #E8E8E8;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    transition: .25s;
    align-items: center;
}

.podraz_results{
    float: right;
    width: 49.5%;
    min-height: 1034px;
    height: auto;
    padding-left: 48px;
    padding-top: 20px;
    padding-right: 48px;
    padding-bottom: 20px;
    background-color: #efefef;
    border: 1px solid #dadada;
    border-radius: 30px;
}

.podraz_name{
    color: #717070;
    font-weight: 500;
    font-size: 24px;
}
.podraz_title{
    font-size: 32px;
    font-weight: 500;
}

.podraz_color_1{
    color:red;
    font-size: 24px;
    font-weight: 600;
}

.podraz_color_2{
    color: blue;
    font-size: 24px;
    font-weight: 600;
}

.podraz_color_3{
    color: green;
    font-size: 24px;
    font-weight: 600;
}

.podraz_color_4{
    color: plum;
    font-size: 24px;
    font-weight: 600;
}

.name{
    font-size: 20px;
    font-weight: 400;
}

.surname{
    font-size: 20px;
    font-weight: 400;
}

.podraz_diagrama{
    display: flex;
    justify-content: center;
    height: 761px;
    align-items: center;
}
.diagrama{
    width: 500px;
    height: 500px;
    background-color: plum;
    border-radius: 50%;
}